:root {
    --background-color: #0e0d0c;
    --background-color-trans: #0e0d0c55;
    --text-color: #F2E5D7;
    --lowkey-accent-color: #c9c2bc;
    --hella-lowkey-accent-color: #a19894;
    --super-hella-lac: #4e4846;
    --highlight-color: #e0ba74;
    --highlightER-color: #dab46e13;
    --title-fontsize: calc(0.7rem + 2.1vw);
    --nav-fontsize: calc(0.7rem + 1.3vw);
    --p-fontsize: calc(0.4rem + 1.5vw);
    --cycle-fontsize: calc(0.5rem + 1.5vw);
}

/* Force 'html' to be viewport width */
body {
    width: 100%;
    height: 100%;
    margin: 0;

    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'SofiaSans'; 
}

a {
    text-decoration: none;
    color: var(--hella-lowkey-accent-color);
}

#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 1s ease-in;
}



/* Banner */
.banner {
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    background-color: var(--highlight-color);
    color: var(--background-color);
    width: 100%;
    text-align: center;
    padding: 1vmin;
    font-size: 2.5vmin;
    font-variation-settings: "wght" 300;
}

.banner em {
    font-style: normal;
    font-variation-settings: "wght" 500;
}

/* "Safe" Boundary for Carousel */
.safe {
    width: 50vw;
    height: 40vh;

    margin: 12vh 0 0 25vw;

    transition: margin 0.05s ease-out;
}

@media only screen and (max-width: 500px) {
    .safe {
        margin: 17.5vh 0 0 17.5vw;
        width: 75vw;
    }

    .scroll {
        width: 75vw;
    
        margin: 0 7.5vw 0 17.5vw;
    
        transition: margin 0.05s ease-out;
}
}

.scroll {
        width: 50vw;
    
        margin: 0 0 0 25vw;
    
        transition: margin 0.05s ease-out;
}


.nav {
    font-size: var(--nav-fontsize);
    font-variation-settings: "wght" 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-transform: uppercase;
}

.nav a {
    transition: color 0.1s ease-in-out;
}

.nav a:hover {
    color: var(--text-color);
}

@media only screen and (max-width: 500px) {
    .nav {
        font-size: calc(1.5 * var(--nav-fontsize));
    }
}




.header {
    margin: 0;
}

.title {
    margin-top: 2vh;
    font-size: var(--title-fontsize);
    line-height: calc(2rem + var(--title-fontsize));
    font-variation-settings: "wght" 600;
    white-space: nowrap;
    display: inline-block;
    background-color: var(--background-color-trans);
}

.title h1 {
    margin: 0;
}

.title h1 span:first-child {
    color: --lowkey-accent-color;
    font-variation-settings: "wght" 400;
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: calc(1.5 * var(--title-fontsize));

        line-height: calc(1rem + 1.5 * var(--title-fontsize));
    }

    .title h1 {
        display: inline-flex;
        flex-direction: column;
    }

    .title h1 span:first-child {
        font-variation-settings: "wght" 350;
    }
}


/* Intro Paragraph */
.intro {
    font-size: var(--p-fontsize);
    font-variation-settings: "wght" 350;
    background-color: var(--background-color-trans);

    border-right: 3px var(--super-hella-lac) solid;
    padding: 0 2vw 0 0;
}

.intro h2 {
    margin: 1vh 0;
    font-size: var(--p-fontsize);
}

.intro em {
    font-style: normal;
    font-variation-settings: "wght" 500;
    font-size: var(--cycle-fontsize);

}

@media only screen and (max-width: 500px) {
    .intro {
        white-space: normal;
        font-size: calc(1.5 * var(--p-fontsize));
    }
}

    /* Intro Cycle */

    span#cycle {
        color: var(--highlight-color);
        transition: transform 0.15s ease-in-out;
        display: inline-block;
        border-radius: 0.3vmax;
        background-color: var(--highlightER-color);

        font-family: 'Inconsolata', monospace;
        font-size: var(--cycle-fontsize);
        font-variation-settings: "wght" 600;
    }

.scroll {
    height: auto;
    overflow: scroll;
}

#projects-header {
    font-size: calc( var(--cycle-fontsize) * 1.25);
    margin-bottom: 0;
}


#projects-list li, #projects-list a {
    font-size: calc(0.95 * var(--p-fontsize));
}

#projects-list a {
    transition: color 0.1s ease-in-out;
}

#projects-list a:hover {
    color: var(--text-color);
}

/* Footer */
div.footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 2vh;
}

footer {
    width: 100vw;
    text-align: center;
    font-size: calc(0.8 * var(--p-fontsize));
}

@media only screen and (max-height: 400px) {
    footer {
        display: none;
    }
}

footer p {
    margin: 0;
}

    /* Footer Icons */

    .icons {
        justify-content: center;
        gap: 2vw;
    }

    .icons img {
        width: 3vw;
        background-color: var(--text-color);
        transition: background-color-trans 0.1s;
        border-radius: 1vmax;
        padding: 0.2vw;
    }

    .icons img:hover {
        background-color: var(--lowkey-accent-color);
    }

    @media only screen and (max-width: 500px) {
        .icons img {
            width: 7vw;
        }
    }


/* Simple classes */
.hidden,
.hidden * {
    display: none !important;
}

.underlined {
    text-decoration: underline;
}


/* Flex */
.fl {
    display: flex;
}

.fl-dir-col {
    flex-direction: column;
}

.fl-dir-row {
    flex-direction: row;
}

.fl-dir-colr {
    flex-direction: column-reverse;
}

.fl-dir-rowr {
    flex-direction: row-reverse;
}

.fl-al-start {
    align-items: flex-start;
}

.fl-al-end {
    align-items: flex-end;
}

.fl-al-s-bet {
    align-content: space-between;
}

.fl-al-s-aro {
    align-content: space-around;
}

.fl-jc-s-bet {
    justify-content: space-between;
}

.fl-jc-s-aro {
    justify-content: space-around;
}

.fl-jc-s-eve {
    justify-content: space-evenly;
}


/* Fonts */
@font-face {
    font-family: 'SofiaSans';
    src: url('/fonts/SofiaSansCondensed-VariableFont_wght.ttf');
    font-variation-settings: "wght" 375;
    font-stretch: 75% 125%;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inconsolata';
    src: url('/fonts/Inconsolata-VariableFont_wdth,wght.ttf');
    font-variation-settings: "wght" 700;
    font-style: normal;
    font-display: swap;
}