:root {
    --background-color: #0e0d0c;
    --text-color: #F2E5D7;
    --lowkey-accent-color: #c9c2bc;
    --hella-lowkey-accent-color: #a19894;
    --super-hella-lac: #4e4846;
    --highlight-color: #dab46e;
    --title-fontsize: calc(0.7rem + 2.1vw);
    --nav-fontsize: calc(0.7rem + 1.1vw);
    --p-fontsize: calc(0.4rem + 1.1vw);
}

@font-face {
    font-family: 'SofiaSans';
    src: url('/fonts/SofiaSansCondensed-VariableFont_wght.ttf');
    font-variation-settings: "wght" 375;
    font-stretch: 75% 125%;
    font-style: normal;
}

/* Force 'html' to be viewport width */
body {
    width: 100%;
    height: 100%;
    margin: 0;

    color: var(--text-color);
    background-color: var(--background-color);
    font-family: 'SofiaSans';
}

.hidden,
.hidden * {
    display: none !important;
}

.underlined {
    text-decoration: underline;
}

.fl {
    display: flex;
}

.fl-dir-col {
    flex-direction: column;
}

.fl-dir-row {
    flex-direction: row;
}

.fl-dir-colr {
    flex-direction: column-reverse;
}

.fl-dir-rowr {
    flex-direction: row-reverse;
}

.fl-al-start {
    align-items: flex-start;
}

.fl-al-end {
    align-items: flex-end;
}

.fl-al-s-bet {
    align-content: space-between;
}

.fl-al-s-aro {
    align-content: space-around;
}

.fl-jc-s-bet {
    justify-content: space-between;
}

.fl-jc-s-aro {
    justify-content: space-around;
}

.fl-jc-s-eve {
    justify-content: space-evenly;
}




a {
    text-decoration: none;
    color: var(--lowkey-accent-color);
}

.safe {
    width: 50vw;
    height: 40vh;

    margin: 25vh 0 25vh 25vw;

    transition: margin 0.05s ease-out;
}

@media only screen and (max-width: 500px) {
    .safe {
        margin: 25vh 0 15vh 15vw;
        width: 70vw;
    }
}


.nav {
    font-size: var(--nav-fontsize);
    font-variation-settings: "wght" 400;
}

.nav a {
    transition: color 0.2s ease-in-out;
}

.nav:hover a {
    color: var(--hella-lowkey-accent-color);
}

.nav a:hover {
    color: var(--text-color);
}

@media only screen and (max-width: 500px) {
    .nav {
        font-size: calc(1.5 * var(--nav-fontsize));
    }
}




.header {
    margin: 0;
}

.title {
    margin-top: 2vh;
    font-size: var(--title-fontsize);
    line-height: calc(2rem + var(--title-fontsize));
    font-variation-settings: "wght" 600;
    white-space: nowrap;
    display: inline-block;
    background-color: var(--background-color);
}

.title h1 {
    margin: 0;
}

.title h1 span:first-child {
    color: --lowkey-accent-color;
    font-variation-settings: "wght" 400;
}

@media only screen and (max-width: 500px) {
    .title {
        font-size: calc(1.5 * var(--title-fontsize));

        line-height: calc(1rem + 1.5 * var(--title-fontsize));
    }

    .title h1 {
        display: inline-flex;
        flex-direction: column;
    }

    .title h1 span:first-child {
        font-variation-settings: "wght" 350;
    }
}




.intro {
    font-size: var(--p-fontsize);
    font-variation-settings: "wght" 350;
    background-color: var(--background-color);

    border-right: 3px var(--super-hella-lac) solid;
    padding: 0 2vw 0 0;
}

@media only screen and (max-width: 500px) {
    .intro {
        white-space: normal;
        font-size: calc(1.5 * var(--p-fontsize));
    }
}

.intro em {
    font-style: normal;
    font-variation-settings: "wght" 500;
}

span#cycle {
    color: var(--highlight-color);
    transition: transform 0.15s ease-in-out;
    display: inline-block;

    font-variation-settings: "wght" 500;
}




.icons {
    justify-content: center;
    gap: 2vw;
}

.icons img {
    width: 2vw;
    background-color: var(--text-color);
    transition: background-color 0.1s;
    border-radius: 1vmax;
    padding: 0.2vw;
}

.icons img:hover {
    background-color: var(--lowkey-accent-color);
}

@media only screen and (max-width: 500px) {
    .icons img {
        width: 7vw;
    }
}



div.footer {
    position: absolute;
    bottom: 0;
}

footer {
    width: 100vw;
    text-align: center;
    font-size: calc(0.8 * var(--p-fontsize));
}

@media only screen and (max-height: 400px) {
    footer {
        display: none;
    }
}