:root {
    --background-color_old: #F2E5D7;
    --accent-color_old: #262322;
    --background-color: #151413;
    --accent-color: #F2E5D7;
    --p-fontsize: 2vw;
}

html {
    width: 100%;
}

/* Force 'html' to be viewport width */
body {
    width: 100%;
}

/* Overflow the body */

* {
    color: var(--accent-color);
}

body {
    background-color: var(--background-color);
    font-family: 'Playfair Display', serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.header {
    height: 20vh;
    margin: 0 5vw 0 5vw;
}

.title {
    font-size: 3.6vw;
    line-height: 1;
    flex: 3;
    overflow: visible;
    white-space: nowrap;
}

.title h1 {
    margin: 0;
}

.nav {
    font-size: 2vw;
    line-height: 1;
    flex: 1.5;
}

.p1 {
    margin: 4vh 5vw 0 5vw;
}

.p1 div {
    height: var(--p-fontsize);
    font-size: var(--p-fontsize);
    position: relative;
    width: 100%;
}

#cycle {
    position: relative;
    white-space: nowrap;
    animation: scroll 10s infinite;
}

#cycle2 {
    transition: all 4s ease-in-out 1s;
}

@keyframes scroll { 
    0% {
        top: 0;
    }
    10%, 20% {
        top: -100%;
    }
    30%, 40% {
        top: -200%;
    }
    50%, 60% {
        top: -300%;
    }
    70%, 80% {
        top: -400%;
    }
    85% {
        top: -500%;
    }
    90% {
        top: 0;
    }
}



/* Stylistic Classes */
.ds {
    text-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}


/* Flexbox Ready Classes */
.flex {
    display: flex;
}

.flex-sb {
    justify-content: space-between;
}

.flex-sa {
    justify-content: space-around;
}

.flex-ac {
    align-items: center;
}

.flex-jc {
    justify-content: center;
}

.flex-ae {
    align-items: flex-end;
}

.flex-je {
    justify-content: flex-end;
}

.flex-col {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Containers */

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 100px 50px;
}

.container-large {
    width: 100%;
    margin: 0 auto;
    padding: 0 50px;
}

/* Background Colors */

.bg-white {
    background: var(--white-color);
}

.bg-offwhite {
    background: var(--offwhite-color);
}

.bg-primary {
    background: var(--primary-color)
}

.bg-accent {
    background: var(--accent-color);
}

.bg-focus {
    background: var(--focus-color);
}

/* Text Alignment */

.ta-center {
    text-align: center;
}

.ta-right {
    text-align: right;
}